
/* this is a comment, 
it can span multiple lines */

/* import google font, and apply to body.
The how to was here https://rstudio4edu.github.io/rstudio4edu-book/doc-fancy.html */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body {font-family: 'Jura';}

/* The .prefix means you are changing a class */

.main-container {max-width: 85%;} /* Change how much of the page is used */

/* You can define variables for repeated use */

:root {
  --accent-col: #EC9510;
  --grad-col-1: #05C9C5;
  --grad-col-2: #738B8A;
  --heading-col: #AFAFAF;
}

/* To use the defined variable you have to use var() */

.r {background-color: var(--accent-col);}

/* You can make the same change to multiple classes at once 
this also work for other things, like IDs and attributes */

h1, h2, .author, .date {
    font-family: 'Syncopate';
    text-align: center;
}

h1.title {font-size: 30px;}

h2 {font-size: 22px;
  margin-top: 100px;
}

.date{font-size: 17px;}

/* Formatting buttons. 
# indicates an id.
> allows you to acces child elements, so I can style the positioning 
of the top level menu and then each tab underneath it separately*/

.square {
  color: black;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.square:hover {
  background-image: linear-gradient(45deg, var(--grad-col-1), var(--grad-col-2));
  color: white;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.square>a {
  background:
     linear-gradient(
       to right,
       var(--grad-col-1) 0%,
       var(--grad-col-1) 5px,
       transparent 5px
     );
  background-repeat: repeat-x;
  background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
  border-radius: 16px;
}

.square>a:hover {
  background:
     linear-gradient(
       to right,
       white 0%,
       white 5px,
       transparent
     );
  border-radius: 16px;
}
